<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('通知公告列表')" />
</head>
<body class="gray-bg">
    <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="notice-form">
					<div class="select-list">
						<ul>
							<li>
								客户名称：<input type="text" name="name"/>
							</li>
							<li>
								手机号码：<input type="text" name="phoneNumber"/>
							</li>
							<li class="select-time">
								<label>拿货时间： </label>
								<input type="text" class="time-input" id="startTime" placeholder="开始时间" name="startTime"/>
								<span>-</span>
								<input type="text" class="time-input" id="endTime" placeholder="结束时间" name="endTime"/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			<div class="btn-group-sm" id="toolbar" role="group">
				<h4>解释说明特殊用户情况：</h4>
			</div>
	        <div class="col-sm-12 select-table table-striped">
	            <table id="bootstrap-table"></table>
	        </div>
    	</div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:special:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:special:remove')}]];
        var types = [[${@dict.getType('sys_notice_type')}]];
        var datas = [[${@dict.getType('sys_notice_status')}]];
        var prefix = ctx + "system/special";

        $(function() {
            var options = {
                url: prefix + "/list",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                modalName: "公告",
                columns: [{
		            checkbox: true
		        },
					{
					field: 'statisticsId',
					title: '主键id',
					visible: false
					},
					{
						field: 'name',
						title: '客户名称'
					},
					{
						field: 'phoneNumber',
						title: '手机号码',
						sortable: true
					},
					{
						field: 'memberType',
						title: '客户等级',
						sortable: true
					},
					{
						field: 'customerType',
						title: '客户类型',
						sortable: true
					},
					{
						field: 'saleMonth',
						title: '累计销售月数',
						sortable: true
					},
					{
						field: 'actualSales',
						title: '累计销售金额',
						sortable: true
					},
					{
						field: 'lastGoods',
						title: '最后拿货时间',
						sortable: true
					},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs " href="javascript:void(0)" onclick="$.operate.edit(\'' + row.statisticsId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="bbtn btn-danger btn-xs " href="javascript:void(0)" onclick="demotion(\'' + row.statisticsId + '\')"><i class="fa fa-sign-out"></i>降级</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });

		/* 升级用户*/
		function demotion(id) {
			$.modal.confirm("确认要降级该用户吗？", function() {
				$.operate.post(prefix + "/specialUserEdit", { "statisticsId": id});
			})
		}
    </script>
</body>
</html>
