<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('分店信息列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>

                            <li>
                                <label>分店名称：</label>
                                <input type="text" name="deptName"/>
                            </li>
                            <li>
                                <label>负责人名称：</label>
                                <input type="text" name="leader"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add(100)" >
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" >
                    <i class="fa fa-edit"></i> 修改
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:subbranch:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:subbranch:remove')}]];
        var prefix = ctx + "system/subbranch";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add/{id}",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove/{id}",
                modalName: "分店信息",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'deptId',
                    title: '主键id',
                    visible: false
                },
                {
                    field: 'parentId',
                    title: '父级ID',
                    visible: false
                },
                {
                    field: 'userId',
                    title: '用户ID',
                    visible: false
                },
                {
                    field: 'deptName',
                    title: '分店名称'
                },
                {
                    field: 'address',
                    title: '分店地址'
                },
                {
                    field: 'leader',
                    title: '负责人名称'
                },
                {
                    field: 'phone',
                    title: '负责人联系方式'
                },
                {
                    //field: 'status',
                    visible: editFlag == 'hidden' ? false : true,
                    title: '分店状态',
                    align: 'center',
                    formatter: function (value, row, index) {
                        return statusTools(row);
                    }
                },
                {
                    field: 'operator',
                    title: '录入人'
                },
                {
                    field: 'operatorTime',
                    title: '录入时间'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.deptId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs" href="javascript:void(0)" onclick="deleteSub(\'' + row.deptId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });

        /* 状态显示 */
        function statusTools(row) {
            if (row.status == 1) {
                return '<i class=\"fa fa-toggle-off text-info fa-2x\" onclick="enable(\'' + row.deptId + '\')"></i> ';
            } else {
                return '<i class=\"fa fa-toggle-on text-info fa-2x\" onclick="disable(\'' + row.deptId + '\')"></i> ';
            }
        }

        /* 状态-停用 */
        function disable(deptId) {
            $.modal.confirm("确认要停用该规则吗？", function() {
                $.operate.post(prefix + "/editStatus", { "deptId": deptId, "status": 1 });
            })
        }

        /* 状态-启用 */
        function enable(deptId) {
            $.modal.confirm("确认要启用该规则吗？", function() {
                $.operate.post(prefix + "/editStatus", { "deptId": deptId, "status": 0 });
            })
        }

        /* 升级用户*/
        function deleteSub(deptId) {
            $.modal.confirm("确认要删除该条积分规则吗？", function() {
                $.operate.post(prefix + "/remove", { "deptId": deptId});
            })
        }
    </script>
</body>
</html>
