<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.system.target.mapper.UserMonthConsumptionInfoMapper">

    <resultMap type="UserMonthConsumptionInfo" id="UserMonthConsumptionInfoResult">
        <result property="monthConsumptionId"    column="month_consumption_id"    />
        <result property="userId"    column="user_id"    />
        <result property="monthMorning"    column="month_morning"    />
        <result property="monthNoon"    column="month_noon"    />
        <result property="monthNight"    column="month_night"    />
        <result property="restConsumption"    column="rest_consumption"    />
        <result property="monthConsumption"    column="month_consumption"    />
        <result property="consumptionStatus"    column="consumption_status"    />
        <result property="monthValue"    column="month_value"    />
        <result property="status"    column="status"    />
        <result property="remarks"    column="remarks"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectUserMonthConsumptionInfoVo">
        select month_consumption_id, user_id, month_morning, month_noon, month_night, rest_consumption, month_consumption, consumption_status,month_value, status, remarks, create_by, create_time, update_by, update_time from user_month_consumption_info
    </sql>

    <select id="selectUserMonthConsumptionInfoList" parameterType="UserMonthConsumptionInfo" resultMap="UserMonthConsumptionInfoResult">
        <include refid="selectUserMonthConsumptionInfoVo"/>
        <where> status = '0'
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="monthMorning != null "> and month_morning = #{monthMorning}</if>
            <if test="monthNoon != null "> and month_noon = #{monthNoon}</if>
            <if test="monthNight != null "> and month_night = #{monthNight}</if>
            <if test="restConsumption != null "> and rest_consumption = #{restConsumption}</if>
            <if test="monthConsumption != null "> and month_consumption = #{monthConsumption}</if>
            <if test="consumptionStatus != null  and consumptionStatus != ''"> and consumption_status = #{consumptionStatus}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="remarks != null  and remarks != ''"> and remarks = #{remarks}</if>
        </where>
    </select>

    <select id="selectUserMonthConsumptionInfoById" parameterType="Long" resultMap="UserMonthConsumptionInfoResult">
        <include refid="selectUserMonthConsumptionInfoVo"/>
        where month_consumption_id = #{monthConsumptionId}
    </select>

    <select id="getMoneyInfo" parameterType="String" resultType="UserMonthConsumptionInfo">
        <include refid="selectUserMonthConsumptionInfoVo"/>
        <where> status = '0'
            <if test="monthValue != null  and monthValue != ''"> and month_value = #{monthValue}</if>
        </where>
    </select>

    <insert id="insertUserMonthConsumptionInfo" parameterType="UserMonthConsumptionInfo" useGeneratedKeys="true" keyProperty="monthConsumptionId">
        insert into user_month_consumption_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="monthMorning != null">month_morning,</if>
            <if test="monthNoon != null">month_noon,</if>
            <if test="monthNight != null">month_night,</if>
            <if test="restConsumption != null">rest_consumption,</if>
            <if test="monthConsumption != null">month_consumption,</if>
            <if test="consumptionStatus != null">consumption_status,</if>
            <if test="status != null">status,</if>
            <if test="remarks != null">remarks,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="monthMorning != null">#{monthMorning},</if>
            <if test="monthNoon != null">#{monthNoon},</if>
            <if test="monthNight != null">#{monthNight},</if>
            <if test="restConsumption != null">#{restConsumption},</if>
            <if test="monthConsumption != null">#{monthConsumption},</if>
            <if test="consumptionStatus != null">#{consumptionStatus},</if>
            <if test="status != null">#{status},</if>
            <if test="remarks != null">#{remarks},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateUserMonthConsumptionInfo" parameterType="UserMonthConsumptionInfo">
        update user_month_consumption_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="monthMorning != null">month_morning = #{monthMorning},</if>
            <if test="monthNoon != null">month_noon = #{monthNoon},</if>
            <if test="monthNight != null">month_night = #{monthNight},</if>
            <if test="restConsumption != null">rest_consumption = #{restConsumption},</if>
            <if test="monthConsumption != null">month_consumption = #{monthConsumption},</if>
            <if test="consumptionStatus != null">consumption_status = #{consumptionStatus},</if>
            <if test="status != null">status = #{status},</if>
            <if test="remarks != null">remarks = #{remarks},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where month_consumption_id = #{monthConsumptionId}
    </update>

    <update id="updateUserMonthConsumptionStatus" parameterType="UserMonthConsumptionInfo">
        update user_month_consumption_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="consumptionStatus != null">consumption_status = #{consumptionStatus},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where month_consumption_id = #{monthConsumptionId}
    </update>

    <update id="updateUserMonthStatus" parameterType="UserMonthConsumptionInfo">
        update user_month_consumption_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="status != null">status = #{status},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where month_consumption_id = #{monthConsumptionId}
    </update>

    <delete id="deleteUserMonthConsumptionInfoById" parameterType="Long">
        delete from user_month_consumption_info where month_consumption_id = #{monthConsumptionId}
    </delete>

    <delete id="deleteUserMonthConsumptionInfoByIds" parameterType="String">
        delete from user_month_consumption_info where month_consumption_id in
        <foreach item="monthConsumptionId" collection="array" open="(" separator="," close=")">
            #{monthConsumptionId}
        </foreach>
    </delete>

</mapper>
