<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增运动信息')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-motionInfo-add">
            <div class="form-group">
                <label class="col-sm-3 control-label">运动时间：</label>
                <div class="col-sm-8">
                    <input name="motionTime" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">运动事项：</label>
                <div class="col-sm-8">
                    <textarea name="motionDescribe" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">饮食：：</label>
                <div class="col-sm-8">
                    <input name="diet" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">是否达到标准：</label>
                <div class="col-sm-8">
                    <label class="toggle-switch switch-solid">
                        <input type="checkbox" id="standardStatus" checked>
                        <span></span>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <textarea name="remarks" class="form-control"></textarea>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "system/motionInfo"
        $("#form-motionInfo-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                var data = $("#form-motionInfo-add").serializeArray();
                var standardStatus = $("input[id='standardStatus']").is(':checked') == true ? 0 : 1;
                data.push({"name": "standardStatus", "value": standardStatus});
                $.operate.save(prefix + "/add", data);
            }
        }
    </script>
</body>
</html>
