<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增目标进行')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-logRecode-add">

            <div class="form-group">
                <label class="col-sm-3 control-label">目标：</label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <select name="cardId" class="form-control m-b" th:with="type=${@dict.getUserCardInfo('sys_user_sex')}">
                            <option th:each="dict : ${type}" th:text="${dict.studyTitle}" th:value="${dict.cardId}"></option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">学习类目：</label>
                <div class="col-sm-8">
                    <input name="studyCategory" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">今日状态:</label>
                <div class="col-sm-8">
                    <input name="studyStatus" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">学习时间：</label>
                <div class="col-sm-8">
                    <input name="studyTime" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">是否达到自己预期：</label>
                <div class="col-sm-8">
                    <label class="toggle-switch switch-solid">
                        <input type="checkbox" id="studyExpect" checked>
                        <span></span>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <textarea name="remarks" class="form-control"></textarea>
                </div>
            </div>

        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "system/logRecode"
        $("#form-logRecode-add").validate({
            focusCleanup: true
        });


        function submitHandler() {
            if ($.validate.form()) {
                var data = $("#form-logRecode-add").serializeArray();
                var cardStatus = $("input[id='cardStatus']").is(':checked') == true ? 0 : 1;
                data.push({"name": "cardStatus", "value": cardStatus});
                $.operate.save(prefix + "/add", data);
            }
        }



        /*部门管理-新增-选择父部门树*/
        function selectCardTree() {

            var options = {
                title: '目标选择',
                width: "380",
                url: prefix + "/selectCardTree/" + $("#cardId").val(),
                callBack: doSubmit
            };
            $.modal.openOptions(options);
            console.log(doSubmit)
        }

        function doSubmit(index, layero){
            var body = layer.getChildFrame('body', index);
            $("#cardId").val(body.find('#cardId').val());
            $("#studyTitle").val(body.find('#studyTitle').val());
            layer.close(index);
        }
    </script>
</body>
</html>
