<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('目标进行列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>学习类目：</label>
                                <input type="text" name="studyCategory"/>
                            </li>
                            <li>
                                <label>预期:</label>
                                <select name="studyExpect">
                                    <option value="">所有</option>
                                    <option value="0">是</option>
                                    <option value="1">否</option>
                                </select>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" >
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" >
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" >
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" >
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:info:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:info:remove')}]];
        var prefix = ctx + "system/logRecode";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "目标进行",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'recodeId',
                    title: '主键id',
                    visible: false
                },
                {
                    field: 'cardId',
                    title: '目标ID',
                    visible: false
                },
                {
                    field: 'studyTitle',
                    title: '学习标题'
                },
                {
                    field: 'studyCategory',
                    title: '学习类目'
                },
                {
                    field: 'studyStatus',
                    title: '今日状态'
                },
                {
                    field: 'studyTime',
                    title: '学习时间(小时)'
                },
                {
                    field: 'studyExpect',
                    title: '是否达到自己预期',
                    align: 'center',
                   formatter: function (value, row, index) {
                        return statusTools(row);
                   }
                 },
                 {
                    field: 'preparationTime',
                    title: '准备时间(天)'
                 },
                {
                    field: 'targetTime',
                    title: '预达目标时间(天)'
                },
                {
                    field: 'createTime',
                    title: '创建时间',
                    sortable: true
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.recodeId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs" href="javascript:void(0)" onclick="remove(\'' + row.recodeId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });


        /* 删除目标 */
        function remove(id) {
            $.modal.confirm("确认要删除该目标吗？", function() {
                $.operate.post(prefix + "/removeStatus", { "recodeId": id});
            })
        }

        /* 状态显示 */
        function statusTools(row) {
            if (row.studyExpect == 1) {
                return '<i class=\"fa fa-toggle-off text-info fa-2x\" onclick="enable(\'' + row.recodeId + '\')"></i> ';
            } else {
                return '<i class=\"fa fa-toggle-on text-info fa-2x\" onclick="disable(\'' + row.recodeId + '\')"></i> ';
            }
        }


        /* 状态-停用 */
        function disable(recodeId) {
            $.modal.confirm("确认要停用该目标吗？", function() {
                $.operate.post(prefix + "/editRecode", { "recodeId": recodeId, "studyExpect": 1 });
            })
        }

        /* 状态-启用 */
        function enable(recodeId) {
            $.modal.confirm("确认要启用该目标吗？", function() {
                $.operate.post(prefix + "/editRecode", { "recodeId": recodeId, "studyExpect": 0 });
            })
        }
    </script>
</body>
</html>
