<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增积分规则')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-integral-add">
            <div class="form-group">
                <label class="col-sm-3 control-label">积分规则：</label>
                <div class="col-sm-8">
                    <input name="integralRule" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">规则描述：</label>
                <div class="col-sm-8">
                    <input name="integralRemark" class="form-control" type="text">
                </div>
            </div>
            <span class="help-block m-b-none" th:align="center"><i class="fa fa-info-circle"></i> 该功能是给空的规则信息一键填充。</span>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script th:inline="javascript">
        var prefix = ctx + "system/integral"
        $("#form-integral-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-integral-add').serialize());
            }
        }

    </script>
</body>
</html>
