<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('学习目标列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>学习标题：</label>
                                <input type="text" name="studyTitle"/>
                            </li>
                            <li>
                                <label>目标状态：</label>
                                <select name="cardStatus">
                                    <option value="">所有</option>
                                    <option value="0">是</option>
                                    <option value="1">否</option>
                                </select>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" >
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" >
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" >
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" >
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "system/userCard";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "学习目标",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'cardId',
                    title: '主键id',
                    visible: false
                },
                {
                    field: 'userId',
                    title: '用户ID',
                    visible: false
                },
                {
                    field: 'studyTitle',
                    title: '学习标题',
                    align: 'center',
                },
                {
                    field: 'studyTarget',
                    title: '学习目标',
                    align: 'center',
                },
                {
                    field: 'preparationTime',
                    title: '准备时间(天)',
                    align: 'center',
                },
                {
                    field: 'targetTime',
                    title: '预达目标时间(天)',
                    align: 'center',
                },
                {
                    field: 'remarks',
                    title: '备注',
                    align: 'center',
                },
                {
                    field: 'cardStatus',
                    title: '目标状态',
                    align: 'center',
                    formatter: function (value, row, index) {
                        return statusTools(row);
                    }
                },
                {
                    field: 'createTime',
                    title: '创建时间',
                    sortable: true
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.cardId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs" href="javascript:void(0)" onclick="remove(\'' + row.cardId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });

        /* 删除目标 */
        function remove(id) {
            $.modal.confirm("确认要删除该学习目标吗？", function() {
                $.operate.post(prefix + "/removeStatus", { "cardId": id});
            })
        }

        /* 状态显示 */
        function statusTools(row) {
            debugger;
            if (row.cardStatus === '1') {
                return '<i class=\"fa fa-toggle-off text-info fa-2x\" onclick="enable(\'' + row.cardId + '\')"></i> ';
            } else {
                return '<i class=\"fa fa-toggle-on text-info fa-2x\" onclick="disable(\'' + row.cardId + '\')"></i> ';
            }
        }


        /* 状态-停用 */
        function disable(cardId) {
            $.modal.confirm("确认要停用该学习目标吗？", function() {
                $.operate.post(prefix + "/editCard", { "cardId": cardId, "cardStatus": 1 });
            })
        }

        /* 状态-启用 */
        function enable(cardId) {
            $.modal.confirm("确认要启用该学习目标吗？", function() {
                $.operate.post(prefix + "/editCard", { "cardId": cardId, "cardStatus": 0 });
            })
        }
    </script>
</body>
</html>
